a {
    color: #000;
    text-decoration: none;
}

header {
    position:relative;
    background-color: paleturquoise;
    width: 100%;
    height: 100px;
    margin: 0;
}

.logotip {
    display: block;
    position: absolute;
    outline-style: double;
    outline-width: 7px;
    height: 80%;
    margin-top: 10px;
    margin-left: 10px;
    left: 0%;
}
.menu {
    display: inline-block;
    /* background-color: white; */
    height: 30%;
    /* margin: auto; */
    position: absolute;
    right: 30px;
    top: 35%;
    /* margin: 0 auto; */
}
.menu-bot {
    display: inline-block;
    margin: auto 10px;
}
footer {
    background-color: paleturquoise;
    height: 25px;
    padding: 10px;
}

.card {
    display: inline-block;
    width: 490px;
    height: 600px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
}

.card-img {
    display: block;
    width: 70%;
    height: 400px;
    margin: 10px 15%;
    object-fit: contain;
}

.about-img {
    display: inline-block;
    width: 100%;
    height: 100%;
    /* margin: 10px, auto; */
    background-color: white;
    outline-style: solid;
    outline-width: 1px;
    object-fit: contain;
    top: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 245, 245);
}
.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1600px;
}

.name {
    display: inline-block;
    width: 70%;
}
.about {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: rgb(255, 101, 101); */
}
.about-list {
    display: inline-block;
    background-color: white;
    position:relative;
    right: 0px;
    height: 180px;
    width: 45.65%;
    margin: auto 1%;
    padding: 10px 1%; /* topB leftR */
    vertical-align: top;
    outline: solid black 1px;
}
.about-place-img {
    display: inline-block;
    position:relative;
    height: 200px;
    width: 47.65%;
    margin: auto 1%;
}
.price {
    text-align: right;
    width: 25%;
    display: inline-block;
}
.card-about {
    display: inline-block;
    width: 75%;
}
.buy {
    display: inline-block;
}

.card:hover {
    outline: 1px solid black;
}